

body{
		-webkit-print-color-adjust: exact;
		margin : 0;
		padding: 0;
}

#print{
	visibility: visible;
	text-align: right;
}

.div-table1{
	width: 20%;
	display: inline-block;
	vertical-align: top;
}
.div-table2{
	width: 78%;
	display: inline-block;
	vertical-align: top;
}
table, thead, tr, th,td{
	margin : 0;
	padding: 0;
	width: 100%;
}


.bloc-title
{
	background-color : #48b9c7;
	color : white;
	margin : 0px 1px 2px 0px;
	font-size: 30px;
	text-align: center;
}
.bloc-columnName{
		margin : 0px 0px 2px 0px;
		padding: :0;
}
.column-anneeRp,.column-ecfRp,.column-coursRp,.column-jourRp
{
	margin : 0;
	padding: 0;
	/*margin-right : 2px;*/
	display: inline-block;
	vertical-align: top;
}
.column-anneeRp,.column-ecfRp,.column-coursRp
{
	margin-right : 1.75px;
}

.column-anneeRp
{
	width: 100%;	
	background-color: #fdb515;
}
.column-ecfRp
{
	width: 15%;
	background-color: #fdb515;
}
.column-coursRp
{
	width: 69%;
	background-color: #fdb515;
}
.column-jourRp
{
	width: 15%;
	background-color: #fdb515;
}


.cours-tableRowData:nth-child(odd), .periode-tableRowData:nth-child(odd){
	background-color: #D8D8D8
}
.cours-tableRowData:nth-child(even), .periode-tableRowData:nth-child(even){
	background-color: #c1bebe
}
.td-ecf, .td-periode,.td-cours, .td-duree 
{
	display: inline-block;
	vertical-align: top;
	margin :0px 0px 0px 0px;
	padding: 0;
}
.td-cours 
{

	border-right:solid white 1px;
	width: 69%;
}

.td-ecf, .td-duree 
{
	width: 15%;
}
.td-duree
{
	text-align: center;
}
.bloc-sommeJourRp{
	margin :10px 0px 0px 0px;
	padding: 0;
}
.bloc-sommeJourRpTxt{
	margin :0px 1.75px 0px 20%;
	padding: 0;
	display: inline-block;
	vertical-align: top;
	width: 69%;
	/*margin-left: 20%;*/
	background-color: #FFFF00;
	
}
.bloc-sommeJourRpNb{	
	margin :0;
	padding: 0;
	display: inline-block;
	vertical-align: top;
	text-align : center;
	width: 10%;
	background-color: #FFFF00;
	
}


@page 
{
    size: A4 portrait;

}


@media print 
{

body{
		-webkit-print-color-adjust: exact;
		font-size: 11px;
}
.bloc-tableRowData{
	page-break-inside:avoid;
	
}	
.entete-uf,.entete-module,.bloc-heure,.bloc-vide{
	height : 15px;
}
