body 
{
    margin: 0;
    padding: 0;
}


.bloc-titre
{
	border: 1px Navy solid;
	margin-left: 1cm;
	margin-right: 1cm;
	font-size: 20px;
}


.bloc-global, .bloc-columnName
{
	border: 1px Navy solid;
	margin-left: 1cm;
	margin-right: 1cm;
}


.column-reac,.column-module,.column-heure,.column-infomodule
{
	display: inline-block;
	vertical-align: top;
	background-color: yellow;
}
.column-reac
{
	width: 40%;
}
.column-module
{
	width: 33%;
}
.column-heure
{
	width: 4.8%;
}
.column-infomodule
{
	width: 22.2%;
}
.bloc-reac
{
	width: 40%;
	display: inline-block;
	vertical-align: top;
	background-color: AliceBlue;
}

.entete-reac
{
	width: 99%;
	background-color: LightSteelBlue;
}

.bloc-savoir
{
	background-color: AliceBlue;
}


.bloc-uf
{
	width: 60%;
	display: inline-block;
	vertical-align: top;
}

.entete-module
{
	width: 55%;
	background-color: LightSteelBlue;
	display: inline-block;
}

.bloc-heure
{
	width : 8%;
	background-color: LightSteelBlue;
	display: inline-block;
	text-align: center;
}

.bloc-cours
{
	/*background-color: LightSteelBlue ;*/
	background-color: AliceBlue ;
	display: inline-block;
	vertical-align: top;
	width : 63%;
}


.row-cours
{
	width: 88%;
	background-color: AliceBlue;
	display: inline-block;
}

.infos-cours
{
	width: 12%;
	background-color: AliceBlue;
	display: inline-block;
	text-align: center;
}

.bloc-infomodule
{
	background-color: AliceBlue;
	border: 1px Teal solid;
	display: inline-block;
	vertical-align: top;
	width : 36%;
}


.bloc-modalite
{
	display: inline-block;
	width : 44%;
}

.bloc-evaluation
{
	display: inline-block;
	width : 44%;
}


.bloc-sommeHeureTxt{
	display: inline-block;
	vertical-align: top;
	width: 33%;
	margin-left: 40%;
	border: 1px Navy solid;
}
.bloc-sommeHeureNb{	
	display: inline-block;
	vertical-align: top;
	width: 4.8%;
	border: 1px Navy solid;
}



@page 
{
    size: A4 landscape;
    margin: 5% 3% 5% 3%;
	padding: 0;
}


@media print 
{
body{
		-webkit-print-color-adjust: exact;
		font-size: 12px;
}
	

.bloc-uf
{
	page-break-inside:avoid;
	width: 60%;
	display: inline-block;
	vertical-align: top;
}

.bloc-cours
{
	background-color: LightSteelBlue ;
	display: inline-block;
	vertical-align: top;
	width : 63%;

}
	
.bloc-titre
{
	border: 1px Navy solid;
	margin-left: 1cm;
	margin-right: 1cm;
	font-size: 20px;
}


.bloc-global
{
	border: 1px Navy solid;
	margin-left: 1cm;
	margin-right: 1cm;
}


.bloc-reac
{
	-webkit-print-color-adjust: exact;
	width: 40%;
	display: inline-block;
	vertical-align: top;
	background-color: AliceBlue;
}

.entete-reac
{
	-webkit-print-color-adjust: exact;
	width: 99%;
	background-color: LightSteelBlue;
	font-weight: bold;
}

.bloc-savoir
{
	-webkit-print-color-adjust: exact;
	background-color: AliceBlue;
}


.row-cours
{
	-webkit-print-color-adjust: exact;
	width: 88%;
	background-color: AliceBlue;
	display: inline-block;
}

.infos-cours
{
	-webkit-print-color-adjust: exact;
	width:12%;
	text-align: center;
	background-color: AliceBlue;
	display: inline-block;
}

.bloc-infomodule
{
	-webkit-print-color-adjust: exact;
	background-color: AliceBlue;
	border: 1px Teal solid;
	display: inline-block;
	vertical-align: top;
	width : 36%;
}


.bloc-modalite
{
	display: inline-block;
	width : 44%;
}

.bloc-evaluation
{
	display: inline-block;
	width : 44%;
}
.entete-module
{
	width: 55%;
	background-color: LightSteelBlue;
	display: inline-block;
	font-weight: bold;
}	
.bloc-heure
{
	width : 8%;
	background-color: LightSteelBlue;
	display: inline-block;
	text-align: center;
	font-weight: bold;
}	
.column-reac,.column-module,.column-heure,.column-infomodule
{
	-webkit-print-color-adjust: exact;
	display: inline-block;
	vertical-align: top;
	background-color: yellow;
}
.column-reac
{
	width: 40%;
}
.column-module
{
	width: 33%;
}
.column-heure
{
	width: 6%;
}
.column-infomodule
{
	width: 21%;
}
.bloc-sommeHeureTxt{
	display: inline-block;
	vertical-align: top;
	width: 32%;
	margin-left: 40%;
	border:1px Navy solid;
}
.bloc-sommeHeureNb{	
	display: inline-block;
	vertical-align: top;
	width: 6%;
	border:1px Navy solid;
}


}